.about{

    .infos{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 0 100px;
        margin: 35px 0;
    }
}

@media (max-width: 767.98px) {
    .about .infos{
        padding: 0;
    }
}