.card {
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 10px;
    position: relative;

    img {
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    p {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 14px;
        color: white;
        font-weight: 600;
        padding: 0 20% 20px 15px;
        z-index: 90;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
        pointer-events: none;
    }
}
