footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    width: 100%;

    img{
        width: 90px;
        margin: 30px auto 30px auto;
    }

    span{
        display: flex;
        justify-content: center;
        align-items: center; 
        p{
            color: white;
        }
    }
}

@media (max-width: 767.98px) {
    footer{
        img{
            margin-bottom: 15px;
            width: 130px;
        }

        span{
            max-width: 40%;
            margin: 0 auto;
            margin-bottom: 30px;
            font-size: 12px;
            text-align: center;
        }
    }
}