@use './variables' as vars;

.logements{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px;
    border-radius: 20px;
    background-color: vars.$secondary-background-color;
}