.slideshow {
    position: relative;
    width: 100%;
  
    .slideshow-image {
        width: 100%;
        height: 55vh;
        border-radius: 20px;
        display: block;
        object-fit: cover;
        object-position: center;
    }
  
    .slideshow-button {
        position: absolute;
        top: 40%;
        color: white;
        height: 20%;
        cursor: pointer;
  
        &.prev {
            left: 30px;
        }
  
        &.next {
            right: 30px;
        }
    }
}